.blog {
    padding: 30px 0;
    background: $grey-bg;

    &__buttons {
        display: flex;
        margin: 0 auto 30px;
        background: $grey-separator;
        border-radius: 12px;
        gap: 2px;
        width: 233px;
        padding: 2px;
    }

    &__button {
        color: $main;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        border-radius: 10px;
        padding: 8px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__button.active {
        background: $basic-white;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: $grey-separator solid 4px;
    }

    .article {
        background: $basic-white;
        border-radius: 8px;
        overflow: hidden;

        &__img {
            width: 100%;
            height: 200px;
            margin-bottom: 15px;
            display: block;
            overflow: hidden;

            &:hover img {
                transform: scale(1.1);
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.25s;
            }
        }

        &__block {
            margin: 0 auto;
            padding: 15px;
        }

        &__name {
            color: $active-regular;
            display: block;
            margin-bottom: 15px;
        }

        &__date {
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $grey-text;
            padding-bottom: 15px;
            border-bottom: $grey-separator solid 4px;
        }

        &__text {
            margin-top: 15px;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.2rem;
            color: $basic-black;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px auto 0;
        background: $active-regular;
        box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        width: fit-content;
        transition: all 0.3s;
        color: $basic-white;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 18px 30px;

        &:hover {
            color: $active-regular;
            text-decoration: none !important;
            background: $basic-white;
        }
    }


}

@media (max-width: 768px) {
    .blog__row {
        grid-template-columns: repeat(2, 1fr);
    }

    .article:last-of-type:nth-child(odd) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 420px) {
    .blog {
        &__row {
            grid-template-columns: 1fr;
        }

        &__title {
            font-size: 3rem;
            line-height: 3.7rem;
        }
    }
    .article:last-of-type:nth-child(odd) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
